<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>OBYCO DIGITAL MARKETING - #1 in Email Marketing Solutions</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/website.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700i|Roboto+Condensed:400,700i" rel="stylesheet">
  </head>
  <body>
    
      
      <nav class="topMenu" >
          <div class='container-fluid'>
          
          <ul class="navbar-left leftNavSection">
            <li><a href='/'>OBYCO DIGITAL MARKETING</a></li> 
            <span class='menu-btn pull-right'><i class="fa fa-bars" aria-hidden="true"></i></span>
          </ul>
          
          
          
          <ul class=" rightNavSection">
            <!--<li class='clearList'><a href="/home">Home</a></li>-->
            <li class='clearList'><a href="/servicepackage/webdesign">Web Design</a></li>
            <li class='clearList'><a href="/servicepackage/webapp">Web Application</a></li>
            <li class='clearList'><a href="/servicepackage/emailmarketing">Email Marketing</a></li>
            <li class='clearList'><a href="/servicepackage/clickmarketing">Click Marketing</a></li>
            <li class='clearList'><a href="/faq">FAQ</a></li>
            <li class='clearList'><a href="/blog">Blog </a></li>
          </ul>
          
        </div>
      </nav>
  <!--the nav section ends here-->
  <div class='container'>
        <% if(error && error.length > 0){%>
            <div class = 'action-error' role='alert'>
               <%= error %> 
            </div>
        <% } %>
    
        <% if(success && success.length > 0){%>
            <div class = 'action-success' role='alert'>
               <%= success %> 
            </div>
        <% } %>
    </div>

<div class = 'container-fluid'>
    
    <div class='row'>
        <div class='col-md-12  col-xs-12 col-sm-12'>
            <div class='definition'>
                <h3 class='text-center block-header'>What is Email Marketing</h3>
                <p class='text-center'>
                    Email marketing is the sending of targeted commercial 
                    messages via email to specific potential prospects or existing 
                    customers
                </p>
            </div>
        </div>
    </div>
</div>

<div class='container-fluid white'>
    
    <h3 class='text-center block-header package-header'>Why do Email Marketing?</h3>
    
    <div class='row'>
        <div class='col-md-12 col-sm-12 col-xs-12'>
            <div class='benefits'>
                <p>
                    Email marketing is very direct. Reach thousands of prospects 
                    with personalized messages that advertise your services and 
                    products with one click.
                </p>
                <p>
                    Email Marketing helps you to maintain relationships with 
                    every customer. Send loyal customers automated messages on their 
                    birthdays, respond to customer concerns, send clients the deals of 
                    the day, send out automated payment confirmation emails, etc.
                </p>
                <p>
                    Email Marketing is guaranteed to increase ROI if done properly.
                </p>
                
            </div>
        </div>
    </div>
    
</div>


<div class='container'>
    <h3 class='text-center block-header package-header'>What’s included in our Email Marketing Campaign Package</h3>
    
    <div class='row package-row'>
        
        <div class='float col-md-4 col-sm-4 col-xs-12'>
            <div class='package-wrapper'>
                <div class='imageBox'>
                    <img width='150' height='150' src='https://image.flaticon.com/icons/svg/131/131009.svg'>
                </div>
            
                <div class='package-text'>
                    <span class='package-title'>OBYCO’S Conversion Engine:</span><br> Our conversion engine is at the core 
                    of every product developed at Obyco Digital Marketing. The engine 
                    comprises of components such as Subject Line Statement Optimization, 
                    Search Engine Optimization, button and form placement, color theory,  
                    streamlined copywriting, etc. These components have been refined and 
                    optimized due to our years of experience and research.This is included at 
                    no extra charge.
                </div>
                <div class='contact text-center'>Contact us to Learn More</div>
            </div>
        </div>
    
    
        <div class='float col-md-4 col-sm-4 col-xs-12'>
            <div class='package-wrapper'>
                <div class='imageBox'>
                    <img height='150' width='150' src='https://farm5.staticflickr.com/4446/37220897272_48d76f8fcc_z.jpg'>
                </div>
                
                <div class='package-text'>
                    <span class='package-title'>Analytics:</span><br> With webmaster 
                    tools provided by Email Marketing platforms we have the ability 
                    to analyze the effectiveness of email templates and make necessary 
                    changes based on research results.
                </div>
                <div class='contact'>Contact us to Learn More</div>
            </div>
        </div>

        <div class='float col-md-4 col-sm-4 col-xs-12'>
            <div class='package-wrapper'>
                <div class='imageBox'>
                    <img height='150' width='150' src='https://farm5.staticflickr.com/4346/37203364306_305e9df6aa_z.jpg'>
                </div>
                
                <div class='package-text'>
                    <span class='package-title'>Responsive Design:</span><br> We guarantee 
                    that all your Email Templates will be fully responsive across every 
                    device. This means that the email templates we design for you will look great 
                    on Computers, tablets and cell phones of all sizes. This is included at no 
                    extra charge.
                </div>
                <div class='contact'>Contact us to Learn More</div>
            </div>
        </div>
        
    </div>
    
    <div class='row package-row'>
        
        <div class='float col-md-4 col-sm-4 col-xs-12'>
            <div class='package-wrapper'>
                <div class='imageBox'>
                    <img height='150' width='150' src='https://farm5.staticflickr.com/4342/36604240103_b1db930bd3_z.jpg'>
                </div>
                
                <div class='package-text'>
                    <span class='package-title'>Lead Capturing Engine:</span><br> Ask 
                    about our Leads Capturing Engine; this is how we help you create 
                    and build your email list. We build landing pages and web applications 
                    that capture data such as the names, emails, interests, etc. of interested
                    prospects/customers. By integrating API features, these blocks of data 
                    will be transported to a trusted email marketing platform of your choice.
                </div>
                <div class='contact'>Contact us to Learn More</div>
            </div>
        </div>

        <div class='float col-md-4 col-sm-4 col-xs-12'>
            <div class='package-wrapper'>
                <div class='imageBox'>
                    <img height='150' width='150' src='https://farm5.staticflickr.com/4438/37416177675_7d7d274503_z.jpg'>
                </div>
                <div class='package-text'>
                    <span class='package-title'>Consultation:</span><br> We are 
                    interested in your success. Feel free to consult with us on 
                    how to improve your email marketing conversions. We offer a 
                    <em>FREE 30 minute consultation session</em>.
                </div>
                <div class='contact'>Contact us to Learn More</div>
            </div>
        </div>
        
    </div>
    
</div>


<!--the form section starts here-->

<div class='container-fluid'>
    <div class='row'>
        <div class='col-md-12 col-sm-12 form-section'>
            <div class='packageForm'>
                <form action='/homePageLead' method='POST'>
                    <h3>Let's talk about your Web Design Solutions</h3>
                    <input type='checkbox' value="EmaIL Marketing" name='interestOne'> <label>I'm interested in Email Marketing Solutions</label><br>
                    <input type='checkbox' value="Email Marketing questions" name='interestTwo'> <label>I still have some questions, Let's talk</label><br>
                    <input type='checkbox' value="Optimize owned Email Marketing" name='interestThree'> <label>I have an ongoing campaign, It needs Optimization</label><br>
                    <br>
                    <div class='row'>
                      <div class='col-md-6 col-sm-6 col-xs-12'>
                      <input class='nameInput' placeholder='First Name*' type='text' id='first' name='lead[firstName]' required>
                      </div>
                      <div class='col-md-6 col-sm-6 col-xs-12'>
                      <input class='nameInput' placeholder='Last Name*' type='text' id='last' name='lead[lastName]' required>
                      </div>
                    </div>
                    <br>
                    <label class='serviceLeadEmailInputLabel'>Enter a Response Email*:</label><br>
                    <input class='serviceLeadEmailInput' type='email' placeholder='interested@service.com' name='email' required><br>
                    <label>Leave a Comment</label><br>
                    <textarea name="comment" rows='4' class='packageFormTextArea pull-left'></textarea><br>
                    
                    <button type='submit' class='packageFormSubmitBtn'>Get Detailed Information</button>
                </form>
            </div>
            
        </div>
    </div>
</div>   
   

<!--the form section ends here-->

<!--the footer starts here-->
      <div class='container-fluid'>
        <div class='row footer-section'>
          
          <div class='col-md-3 col-sm-3 col-xs-12 footer-list'>
            <ul>
              <a href='/'><li>Home</li></a>
              <a href='/servicepackage/webdesign'><li>Web Design</li></a>
              <a href='/servicepackage/webapp'><li>Web Application</li></a>
              <a href='/servicepackage/emailmarketing'><li>Email Marketing</li></a>
              <a href='/servicepackage/clickmarketing'><li>Click Marketing</li></a>
              <a href='/faq'><li>FAQ's</li></a>
              <a href='/blog'><li>Blog</li></a>
            </ul>
          </div>
          
          <div class='col-md-6 col-sm-6 col-xs-12 footer-list rights-reserved'>
                  <ul>
                    <a href="https://www.facebook.com/OBYCO-Digital-Marketing-1342693189162287/"><li><i class="fa fa-facebook-square" aria-hidden="true"></i>  Join our Facebook Group</li></a>
                    <a href="https://www.linkedin.com/in/uchenna-nwankpa-213b64145"><li><i class="fa fa-linkedin-square" aria-hidden="true"></i>  Connect on LinkedIn</li></a>
                    <a href="https://twitter.com/obyco_digital"><li><i class="fa fa-twitter-square" aria-hidden="true"></i>  Tweet with Us</li></a>
                    <a href='/icons'><li>Flaticon Credits</li></a>
                    <a href="#"><li>Website developed by <em>Uchenna Nwankpa</em></li></a>
                    <a href='/websitepolicy'><li>Website Policy</li></a>
                    <a><li>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2017 OBYCO LLC</li></a>
                  </ul>
          </div>
        </div>
      </div>
      <!--the footer ends here-->

































































<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/scripts/script.js"></script>
  </body>
</html>