<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>OBYCO DIGITAL MARKETING - Mordern Website, Email Marketing, and Click Marketing Business Solutions</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/home.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,800i" rel="stylesheet">
  </head>
  <body>
      
      <!--the section above the nav bar starts here-->
      
     <!--<div class='container-fluid'>-->
     <!--    <div class='row topbar'>-->
     <!--        <div class='col-md-12 text-center'-->
     <!--          <h3>Alright, Let's get STARTED!!!</h3></h3>-->
     <!--        </div>-->
     <!--    </div>-->
     <!--</div>-->
      <!--the section above the nav bar ends here-->
      
      <nav class="topMenu" >
          <div class='container-fluid'>
          
          <ul class="navbar-left leftNavSection">
            <li><a href='/'>OBYCO DIGITAL MARKETING</a></li> 
            <span class='menu-btn pull-right'><i class="fa fa-bars" aria-hidden="true"></i></span>
          </ul>
          
          
          
          <ul class=" rightNavSection">
            <!--<li class='clearList'><a href="/home">Home</a></li>-->
            <li class='clearList'><a href="/servicepackage/webdesign">Web Design</a></li>
            <li class='clearList'><a href="/servicepackage/webapp">Web Application</a></li>
            <li class='clearList'><a href="/servicepackage/emailmarketing">Email Marketing</a></li>
            <li class='clearList'><a href="/servicepackage/clickmarketing">Click Marketing</a></li>
            <li class='clearList'><a href="/faq">FAQ</a></li>
            <li class='clearList'><a href="/blog">Blog </a></li>
          </ul>
          
        </div>
      </nav>
  <!--the nav section ends here-->
      
      <div class='container-fluid'>
          <nav class="topMenu2" fixed>
          <ul class='text-center'>
            <li><a href="#section1">TOP</a></li>
            <li><a href="#section2">About Us</a></li>
            <li><a href="#section3">The Process</a></li>
            <li><a href="#section4">Contact Us </a></li>
          </ul>
      
      </div>
      </div>
      </nav>
      <div class='container'>
        <% if(error && error.length > 0){%>
            <div class = 'action-error' role='alert'>
               <%= error %> 
            </div>
        <% } %>
    
        <% if(success && success.length > 0){%>
            <div class = 'action-success' role='alert'>
               <%= success %> 
            </div>
        <% } %>
    </div>
      
      <!--the first section starts here-->
      <div id='section1' class='container-fluid'>
        <div class='row'>
          <div class='valueProposition col-md-10 col-sm-10 col-xs-12'>
            <div class='valuePropositionBox text-center'>
              <P>
                Every business needs a <span class='green'>Website</span>, 
                <span class='blue'>Email Marketing</span> and <span class='purple'>Click Marketing</span>
                to maximize revenue generation <br><br>

                <span>Get all these business solutions from us because we are interested in your success</span>
              </P>
            </div>
          </div>
        </div>
      </div>
      
      <!--the first section ends here-->
      
      <!--section two starts here-->
      <div id='section2' class='container-fluid'>
          <div class='row aboutRow'>
            <div class='col-md-10 col-sm-12 aboutUsParallax1'>
              <h2 class='text-center aboutHeader'>About <span>US</span></h2>
                <div class='parallex1-textbox'>
                  <p>
                    We are a digital marketing company based in Houston 
                    Texas aimed at providing business solutions in the client 
                    aquisition space. Our ultimate goal is creating awareness 
                    for your business that converts into revenue.
                  </p>
                  <h4><strong>What do we do?</strong></h4>
                  <p>
                   <strong>We Build Websites:</strong> We build websites and web 
                   applications that effectively communicate the value of your 
                   business to prospective customers. Our philosophy is simple, we 
                   develop web pages that are clean, easy to navigate, and designed 
                   to convert prospects into paying customers. Our web solution scope
                   includes Web Design, Landing Pages, eCommerce, Custom Web Apps 
                   with third-party API integration, etc. We also build REST API’s 
                   that make it easy to interact with your business data. Contact 
                   us to learn more about our web solutions.
                  </p>
                  <p>
                    <strong>Email Marketing:</strong> This is a pivotal part of the sales funnel. 
                    Engage new and old customers with email marketing; welcome new 
                    customers to your business while keeping old customers up to date 
                    on weekly deals. At OBYCO our specialties include building email 
                    marketing infrastructures, setting up and automating email lists, 
                    building email templates, and automating the email marketing process.
                  </p>
                  <p>
                    <strong>Click Marketing:</strong> Also known as Pay-Per-Click (PPC) Marketing. 
                    This advertising strategy employs paying for traffic to websites 
                    with the goal of converting each visiting prospect into a paying 
                    customer. If done the right way, PPC is extremely effective. 
                    Consult with us about the right PPC strategy for your business. 
                    Let us help setup your click-marketing campaign. 
                    <em>The consultation is FREE</em>.
                  </p>
                  <p>
                    Digital Marketing might be new to you, or you simply do not have 
                    the time resource to carry out a digital marketing campaign consistently. 
                    With OBYCO you get a partner with extensive experience in the digital marketing 
                    space working to meet all your business goals. 
                  </p>
                </div>
            </div>
          </div>
          <!--the end of the first parallax row-->
          <!--the end of the fifth row-->
      </div>
      <!--section two ends here-->
      <!--the process section starts here-->
      
      <div class='container-fluid process-section'>
         <div id='section3' class='row'>
            <div class='theProcessHeader col-md-12 text-center'>
              <h4>The Process</h4>
            </div>
        </div>
        <div class='row'>
          
          <div class='process-container col-md-10 col-sm-12'>
            <div class='row processTabletRow'>
              
            
              <div class='step step1 col-md-6 col-sm-6'>
                <div class='process-icon'>
                  <img src='https://image.flaticon.com/icons/svg/254/254018.svg'>
                  <!--<img src='/images/mailing.svg'>-->
                </div>
                <div class='process-textbox'>
                  <span class='process-icon-click'>
                  <img src='https://image.flaticon.com/icons/svg/254/254018.svg'>
                </span>
                  <span class='close'>
                  <i class="fa fa-window-close" aria-hidden="true"></i>
                </span>
                <h5>Contact Us</h5>
                <ul class='process-list'>
                  <li class='process-list-item'><span class='pull-left'><i class="fa fa-check" aria-hidden="true"></i></span>Contact us by filling out the form at the bottom of this page</li>
                  <li class='process-list-item'><span class='pull-left'><i class="fa fa-check" aria-hidden="true"></i></span>All your information is secure and you will only be contacted by an OBYCO LLC Representative</li>
                  <li class='process-list-item'><span class='pull-left'><i class="fa fa-check" aria-hidden="true"></i></span>Point out your interests so that we can best serve you</li>
                  <li class='process-list-item'><span class='pull-left'><i class="fa fa-check" aria-hidden="true"></i></span>You will hear back from us through our email marketing autoresponder system immediately. And you will be contacted via email within 24 hours by an OBYCO LLC representative</li>
                </ul>
                </div>
                <div class='visible-process-header'>
                  <h4><span>1</span> Contact Us</h4>
                </div>
            </div>
            
            <!--step one ends here-->
            
            <div class='step step2 col-md-6 col-sm-6'>
                <div class='process-icon'>
                  <img src='https://image.flaticon.com/icons/svg/337/337266.svg'>
                </div>
                <div class='process-textbox'>
                  <span class='process-icon-click'>
                  <img src='https://image.flaticon.com/icons/svg/337/337266.svg'>
                </span>
                  <span class='close'>
                  <i class="fa fa-window-close" aria-hidden="true"></i>
                </span>
                <h5>Meeting</h5>
                <ul class='process-list'>
                  <li class='process-list-item'><span class='pull-left'><i class="fa fa-check" aria-hidden="true"></i></span>This is not a sales meeting</li>
                  <li class='process-list-item'><span class='pull-left'><i class="fa fa-check" aria-hidden="true"></i></span>This is a free consultation that is 10 - 30 minutes long over the phone, via skype, google hangout, facetime, or any platform of your choice</li>
                  <li class='process-list-item'><span class='pull-left'><i class="fa fa-check" aria-hidden="true"></i></span>We will discuss your digital marketing interests and go over some solution strategies. This is a collaborative discussion in which both sides analyze ideas</li>
                  <li class='process-list-item'><span class='pull-left'><i class="fa fa-check" aria-hidden="true"></i></span>If you like our ideas and believe we are the right solution providers then we shall proceed to more meetings and negotiations</li>
                </ul>
                </div>
                <div class='visible-process-header'>
                  <h4><span>2</span> Meeting</h4>
                </div>
            </div>
          </div>
            <!--step 2 ends here-->
            
            <div class='row'>
            <div class='step step3 col-md-6 col-sm-6'>
                <div class='process-icon'>
                  <img src='https://image.flaticon.com/icons/svg/190/190430.svg'>
                </div>
                <div class='process-textbox'>
                  <span class='process-icon-click'>
                  <img src='https://image.flaticon.com/icons/svg/190/190430.svg'>
                </span>
                  <span class='close'>
                  <i class="fa fa-window-close" aria-hidden="true"></i>
                </span>
                <h5>Data Collection</h5>
                <ul class='process-list'>
                  <li class='process-list-item'><span class='pull-left'><i class="fa fa-check" aria-hidden="true"></i></span>This is when we gather your requirements (ie. this is when you tell us all the specifics of what you want built on your website, email marketing campaign, and or click-marketing campaign)</li>
                  <li class='process-list-item'><span class='pull-left'><i class="fa fa-check" aria-hidden="true"></i></span>We adopt the Agile Methodology and as such your requirements can evolve at any stage of the development process</li>
                  <li class='process-list-item'><span class='pull-left'><i class="fa fa-check" aria-hidden="true"></i></span>All the data required to build your business solution will be collected. This process stays ongoing until the project is complete</li>
                  <li class='process-list-item'><span class='pull-left'><i class="fa fa-check" aria-hidden="true"></i></span>Once again, all your information is secure and your marketing campaign / business strategies will be kept confidential</li>
                </ul>
                </div>
                <div class='visible-process-header'>
                  <h4><span>3</span> Data Collection</h4>
                </div>
            </div>
            
            <!--step three ends here-->
            
            <div class='step step4 col-md-6 col-sm-6'>
                <div class='process-icon'>
                  <img src='https://image.flaticon.com/icons/svg/223/223094.svg'>
                </div>
                <div class='process-textbox'>
                  <span class='process-icon-click'>
                  <img src='https://image.flaticon.com/icons/svg/223/223094.svg'>
                </span>
                  <span class='close'>
                  <i class="fa fa-window-close" aria-hidden="true"></i>
                </span>
                <h5>Kick Off</h5>
                <ul class='process-list'>
                  <li class='process-list-item'><span class='pull-left'><i class="fa fa-check" aria-hidden="true"></i></span>After the consultations, Strategy building sessions, negotiations, and data collection we will start building your project</li>
                  <li class='process-list-item'><span class='pull-left'><i class="fa fa-check" aria-hidden="true"></i></span>We are efficient developers who meet deadlines without rushing through or skipping steps in the development process</li>
                  <li class='process-list-item'><span class='pull-left'><i class="fa fa-check" aria-hidden="true"></i></span>Project completion time estimates vary based on the complexity of the business solution we are building and might be extended due to changes in your requirements. However, we will analyze the project and give you an estimated completion timetable</li>
                  <li class='process-list-item'><span class='pull-left'><i class="fa fa-check" aria-hidden="true"></i></span>Now you have an idea of who we are, what we offer, and our process; contact us and begin your journey towards finding web based solutions</li>
                </ul>
                </div>
                <div class='visible-process-header'>
                  <h4><span>4</span> Kick Off</h4>
                </div>
            </div>
            
            <!--step four ends here-->
           
           </div>   
           <!--this is where the row ends-->
          </div>
          
        </div>
      </div>
      
      <!--the process section ends here-->
      
      <!--the contact us section starts here-->
      <div class='container-fluid' id='section4'>
        
        <div class='row'>
          <!--the row starts above here-->
          <div class='contactUsHeader col-md-12 col-xs-12 col-sm-12 text-center'>
            <h4>Contact <span>Us</span></h4>
          </div>
          
        </div>
          <!--the first row ends above here-->
          <!--the second row starts below here-->
          <div class='row'>
            <div class='form-container col-md-6 col-sm-6 col-xs-12'>
              <form action='/homePageLead' method='POST'>
                <h5 class='text-center'>Contact Us for a FREE Consultation</h5><br>
                <div class='row'>
                  <div class='col-md-6 col-sm-6'>
                  <label for='first'>First Name<span class='required'>*</span>:</label><br>
                  <input class='hundred' type='text' id='first' name='lead[firstName]' required>
                  </div>
                  <div class='col-md-6 col-sm-6'>
                  <label for='last'>Last Name<span class='required'>*</span>:</label><br>
                  <input class='hundred' type='text' id='last' name='lead[lastName]' required>
                  </div>
                </div>
                <br>
                <div class='row'>
                  <div class='col-md-6 col-sm-6'>
                    <label for='email'>Email<span class='required'>*</span>:</label><br>
                    <input  class='hundred' type='text' id='email' name='email' required>
                  </div>
                  <div class='col-md-6 col-sm-6'>
                    <label for='phone'>Phone:</label><br>
                    <input class='hundred' type='text' id='phone' name='phone'>
                  </div>
                </div>
                <br>
                <div class="form-group">
                  <label for="interests">Tell Us Your Interests:</label>
                  <select multiple class="form-control" name='interest' id="interests">
                    <option name='interest' value='Website Design'>Website Design</option>
                    <option name='interest' value='Web Application Development'>Web Application Development</option>
                    <option name='interest' value='Social Media Management'>Social Media Management</option>
                    <option name='interest' value='Pro-2-Pro Freelance Back-END Development'>Pro-2-Pro Freelance Back-END Development</option>
                    <option name='interest' value='Digital Marketing (email, facebook, google, craigslist, etc.)'>Digital Marketing (email, facebook, google, craigslist, etc.)</option>
                    <option name='interest' value='Database Architecture'>Database Architecture</option>
                    <option name='interest' value='Third-Party Vendor Services (logo, business cards, flyers, etc.)'>Third-Party Vendor Services (logo, business cards, flyers, etc.)</option>
                    <option name='interest' value='Search Engine Optimization'>Search Engine Optimization</option>
                  </select>
                </div>
                
                <div>
                  <label for='comment'>Leave a Comment:</label><br>
                  <textarea id='comment' type='text' name='comment'></textarea>
                </div>
                <br>
                <div class='text-center'>
                <button class='contactFormSubmit' type=submit>Consult</button>
                </div>
              </form>
            </div>
          </div>
          <!--the second row ends above here-->
        
        
      </div>
      <!--the contact us section ends here-->
      <!--the footer starts here-->
      <div class='container-fluid'>
        <div class='row footer-section'>
          
          <div class='col-md-3 col-sm-3 col-xs-12 footer-list'>
            <ul>
              <a href='#section1'><li>Top</li></a>
              <a href='#section2'><li>About Us</li></a>
              <a href='#section3'><li>The Process</li></a>
              <a href='#section4'><li>ContactUs</li></a>
            </ul>
          </div>
          
          <div class='col-md-3 col-sm-3 col-xs-12 footer-list'>
            <ul>
              <a href='/'><li>Home</li></a>
              <a href='/servicepackage/webdesign'><li>Web Design</li></a>
              <a href='/servicepackage/webapp'><li>Web Application</li></a>
              <a href='/servicepackage/emailmarketing'><li>Email Marketing</li></a>
              <a href='/servicepackage/clickmarketing'><li>Click Marketing</li></a>
              <a href='/faq'><li>FAQ's</li></a>
              <a href='/blog'><li>Blog</li></a>
            </ul>
          </div>
          
          <div class='col-md-6 col-sm-6 col-xs-12 footer-list rights-reserved'>
                  <ul>
                    <a href="https://www.facebook.com/OBYCO-Digital-Marketing-1342693189162287/"><li><i class="fa fa-facebook-square" aria-hidden="true"></i>  Join our Facebook Group</li></a>
                    <a href="https://www.linkedin.com/in/uchenna-nwankpa-213b64145"><li><i class="fa fa-linkedin-square" aria-hidden="true"></i>  Connect on LinkedIn</li></a>
                    <a href="https://twitter.com/obyco_digital"><li><i class="fa fa-twitter-square" aria-hidden="true"></i>  Tweet with Us</li></a>
                    <a href='/icons'><li>Flaticon Credits</li></a>
                    <a href="#"><li>Website developed by <em>Uchenna Nwankpa</em></li></a>
                    <a href='/websitepolicy'><li>Website Policy</li></a>
                    <a><li>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2017 OBYCO LLC</li></a>
                  </ul>
          </div>
        </div>
      </div>
      <!--the footer ends here-->
     
      
      
      
      
      
      
      
      
      
      
      
      
      
      
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/scripts/script.js"></script>
  </body>
</html>