<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>OBYCO DIGITAL MARKETING</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/main.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">OBYCO DIGITAL MARKETING</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <!--<li class="active"><a href="#">Home</a></li>-->
        <!--<li class="dropdown">-->
        <!--  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>-->
        <!--  <ul class="dropdown-menu">-->
        <!--    <li><a href="#">Page 1-1</a></li>-->
        <!--    <li><a href="#">Page 1-2</a></li>-->
        <!--    <li><a href="#">Page 1-3</a></li>-->
        <!--  </ul>-->
        <!--</li>-->
        <li><a href="/services">Service Packages</a></li>
        <li><a href="/faq">FAQs</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
      <!--<ul class="nav navbar-nav navbar-right">-->
      <!--  <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
      <!--  <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
      <!--</ul>-->
    </div>
  </div>
</nav>
  
                  <!--section 2 starts here-->
        <div class='container'>
          <div class='row page1'>
            <!--first section starts here-->
            <div class='col-md-8 col-sm-12 landing-page-first'>
              <div class='image'>
                  <img id='landing-page-pic' src='https://farm5.staticflickr.com/4393/35698511394_9ee1a55b7f_h.jpg'>
              </div>
              <div class='landing-page-pitch text-center'>
                <div class='text-box'>
                  <h2>Running a Business is Stress Enough</h2>
                  <p>
                    OBYCO is here to help with online business solutions 
                    such as creating a web presence, digital marketing campaigns,
                    and social media management.
                  </p>
                </div>
              </div>
            </div>
            <!--first section ends here-->
            <!--the form on the front page starts here-->
            <div class='col-md-3 col-sm-12 form-section'>
              <form action='/homePageLead' method='POST'>
                <h4 class='text-center'>For a free Consultation</h4>
                <div class='LeadfirstName'>
                   <input id='firstNameInput' type='text' name='lead[firstName]' placeholder=' First Name'>
                </div>
                <div class='LeadLastName'>
                   <input id='lastNameInput' type='text' name='lead[lastName]' placeholder=' Last Name'>
                </div>
                <div class='leadEmail'>
                   <input id='emailInput' type='text' name='email' placeholder=' Email'>
                </div>
                <div class='leadInterest'>
                   <input id='interestInput' type='text' name='interest' placeholder=' Interests'>
                </div>
                <button>
                  submit
                </button>
              </form>
            </div>
          </div>
        </div>
          <!--section 2 ends here-->
          <!--section 3 starts here-->
          <div class='container'>
            <div class='row page2'>
              <!--sams profile starts here-->
            <div class='col-md-4 col-sm-12 sam-profile'>
              <div class='sam-picture img-responsive center-block'>
                <img src='https://farm5.staticflickr.com/4403/36505837646_8fedd13428_b.jpg'>
              </div>
              <div class='sams-info text-center'>
                  Uchenna Nwankpa<br>
                  CEO of OBYCO LLC<br>
                  Full-Stack Developer <i class="fa fa-circle" aria-hidden="true"></i> Digital Marketer <br>
        				  <i class="fa fa-map-marker" aria-hidden="true"></i> Houston, Texas
              </div>
            </div>
            <!--sams profile ends here-->
            <!--mission quote starts here-->
            <div class='col-md-8 col-sm-12 quote-box'>
              <!--<div class='quote-box'>-->
                <div id='quote-mark'>
                  <i class="fa fa-quote-right" aria-hidden="true"></i>
                </div>
                <div class='text-center quote'>
                 My Mission is providing valuable full packaged web based business solutions by leveraging my years 
                of experience in this industry
              </div>
              <!--</div>-->
            </div>
            <!--mission quote ends here-->
          </div>
          </div>
          <!--section 3 ends here-->
          <div class='container last'>
            <div class='footer'>
              <div class='policy text-center'>
                <a href='#'>Website Policy</a>
              </div>
              <div class='row'>
                <div class=' col-md-6 col-xs-12 social-media'>
                  <ul class='text-center'>
                    <a href="https://www.facebook.com/profile.php?id=100010728912872"><li><i class="fa fa-facebook-square" aria-hidden="true"></i></li></a>
                    <a href="https://www.linkedin.com/in/uchenna-nwankpa-213b64145"><li><i class="fa fa-linkedin-square" aria-hidden="true"></i></li></a>
                    <a href="https://www.instagram.com/goodluck_16/"><li><i class="fa fa-instagram" aria-hidden="true"></i></li></a>
                  </ul>
                </div>
                <div class='rights col-md-6 col-xs-12 text-center'>
                  Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2017 OBYCO LLC
                </div>
              </div>
            </div>
          </div>
      
  
  
  
  
  
  
  
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/scripts/script.js"></script>
  </body>
</html>