<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>OBYCO DIGITAL MARKETING - #1 in Web Design Solutions</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/website.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700i|Roboto+Condensed:400,700i" rel="stylesheet">
  </head>
  <body>
   
      
      <nav class="topMenu" >
          <div class='container-fluid'>
          
          <ul class="navbar-left leftNavSection">
            <li><a href='/'>OBYCO DIGITAL MARKETING</a></li> 
            <span class='menu-btn pull-right'><i class="fa fa-bars" aria-hidden="true"></i></span>
          </ul>
          
          
          
          <ul class=" rightNavSection">
            <!--<li class='clearList'><a href="/home">Home</a></li>-->
            <li class='clearList'><a href="/servicepackage/webdesign">Web Design</a></li>
            <li class='clearList'><a href="/servicepackage/webapp">Web Application</a></li>
            <li class='clearList'><a href="/servicepackage/emailmarketing">Email Marketing</a></li>
            <li class='clearList'><a href="/servicepackage/clickmarketing">Click Marketing</a></li>
            <li class='clearList'><a href="/faq">FAQ</a></li>
            <li class='clearList'><a href="/blog">Blog </a></li>
          </ul>
          
        </div>
      </nav>
  <!--the nav section ends here-->
  <div class='container'>
        <% if(error && error.length > 0){%>
            <div class = 'action-error' role='alert'>
               <%= error %> 
            </div>
        <% } %>
    
        <% if(success && success.length > 0){%>
            <div class = 'action-success' role='alert'>
               <%= success %> 
            </div>
        <% } %>
    </div>

<div class = 'container-fluid'>
    
    <div class='row'>
        <div class='col-md-12  col-xs-12 col-sm-12'>
            <div class='definition'>
                <h3 class='text-center block-header'>Web Design</h3>
                <p class='text-center'>
                    Web design simply refers to static websites. This is a great 
                    tool to create an online presence for your business while marketing 
                    your products and services. Web Design done the right way always 
                    leads to increased conversions. A static website is website that 
                    does not communicate with a backend database. A real world example 
                    of static design in advertising is a Magazine. If designed the right 
                    way, a magazine should convert readers into paying customers for its 
                    advertisers. We are experts at Web Design; contact us for a free 30 
                    minute consultation on the right Web Design solution.
                </p>
            </div>
        </div>
    </div>
</div>


<div class='container'>
    <h3 class='text-center block-header package-header'>What’s included in our Web Design package / Add-on options</h3>
    
    <div class='row package-row'>
        
        <div class='float col-md-4 col-sm-4 col-xs-12'>
            <div class='package-wrapper'>
                <div class='imageBox'>
                    <img width='150' height='150' src='https://image.flaticon.com/icons/svg/131/131009.svg'>
                </div>
            
                <div class='package-text'>
                    <span class='package-title'>OBYCO’S Conversion Engine:</span><br> Our conversion engine is at the core 
                    of every product developed at Obyco Digital Marketing. The engine 
                    comprises of components such as Subject Line Statement Optimization, 
                    Search Engine Optimization, button and form placement, color theory,  
                    streamlined copywriting, etc. These components have been refined and 
                    optimized due to our years of experience and research.This is included at 
                    no extra charge.
                </div>
                <div class='contact text-center'>Contact us to Learn More</div>
            </div>
        </div>
    
    
        <div class='float col-md-4 col-sm-4 col-xs-12'>
            <div class='package-wrapper'>
                <div class='imageBox'>
                    <img height='150' width='150' src='https://farm5.staticflickr.com/4446/37220897272_48d76f8fcc_z.jpg'>
                </div>
                
                <div class='package-text'>
                    <span class='package-title'>Web Analytics:</span><br> This involves installing 
                    tools that measure traffic and user interaction that enables the gathering 
                    of user data such as links clicked, time on web page, etc that is valuable 
                    for business, marketing, and optimization purposes. This is included at no 
                    extra charge.
                </div>
                <div class='contact'>Contact us to Learn More</div>
            </div>
        </div>

        <div class='float col-md-4 col-sm-4 col-xs-12'>
            <div class='package-wrapper'>
                <div class='imageBox'>
                    <img height='150' width='150' src='https://farm5.staticflickr.com/4337/37203155226_a5f0816fd7_z.jpg'>
                </div>
                
                <div class='package-text'>
                    <span class='package-title'>Search Engine Optimization:</span><br> Simply put, search 
                    engine optimization means improving the process by which search engines 
                    navigate your website for relevant user search related content. 
                    This is done by developing your site with a search friendly structure. 
                    This structure includes proper labeling, sitemaps, meaningful links, etc. 
                    This is part of our conversion engine and will be implemented at no extra charge.
                </div>
                <div class='contact'>Contact us to Learn More</div>
            </div>
            
        </div>
        
    </div>
    
    <div class='row package-row'>
        
        <div class='float col-md-4 col-sm-4 col-xs-12'>
            <div class='package-wrapper'>
                <div class='imageBox'>
                    <img height='150' width='150' src='https://farm5.staticflickr.com/4346/37203364306_305e9df6aa_z.jpg'>
                </div>
                
                <div class='package-text'>
                    <span class='package-title'>Responsive Design:</span><br> We guarantee 
                    that all Web Design packages will be fully responsive across every 
                    device. This means that the web pages we design for you will look great 
                    on computers, tablets and cell phones of all sizes. This is included at no 
                    extra charge.
                </div>
                <div class='contact'>Contact us to Learn More</div>
            </div>
        </div>

        <div class='float col-md-4 col-sm-4 col-xs-12'>
            <div class='package-wrapper'>
                <div class='imageBox'>
                    <img height='70' width='70' src='https://farm5.staticflickr.com/4444/36581228633_460ef60dd8_z.jpg'>
                    <img height='70' width='70' src='https://farm5.staticflickr.com/4482/36581281883_5427763ea2_z.jpg'>
                </div>
                <div class='package-text'>
                    <span class='package-title'>Progressive Design:</span><br> Basically, 
                    your web pages will look the same across every browsers. Most importantly, 
                    Google Chrome, Internet Explorer, Mozilla Firefox and Safari. This is 
                    included at no extra charge.
                </div>
                <div class='contact'>Contact us to Learn More</div>
            </div>
        </div>

        <div class='float col-md-4 col-sm-4 col-xs-12'>
            <div class='package-wrapper'>
                <div class='imageBox'>
                    <img height='130' width='130' src='https://farm5.staticflickr.com/4340/37251125301_7701045684_z.jpg'>
                </div>
                
                <div class='package-text'>
                    <span class='package-title'>Branding:</span><br> Our graphic designer 
                    has over 5 years of branding experience. Do you need Brand Logos, 
                    Business Cards, Flyers, Merchandise, etc. We offer branding services 
                    at very competitive rates. Contact us to learn more about our branding 
                    packages.
                </div>
                <div class='contact'>Contact us to Learn More</div>
            </div>
        </div>
        
    </div>

    <div class='row package-row'>
        
        <div class='float col-md-4 col-sm-6 col-xs-12'>
            <div class='package-wrapper'>
                <div class='imageBox'>
                    <img height='150' width='150' src='https://farm5.staticflickr.com/4435/37221887792_fe8e1f4b1a_z.jpg'>
                </div>
                <div class='package-text'>
                    <span class='package-title'>Maintenance:</span><br> At Obyco 
                    we build websites with the goal of conversion at heart. This 
                    is why we offer <em>ONE FREE Refactoring</em> of any website 
                    we build. This means that if we build a website for you and 
                    it is not performing as it should we will make <em>ONE FREE Adjustment</em>. 
                    This is how we Guarantee our products. However, 
                    all future maintenance will be billed at our hourly rate.
                </div>
                <div class='contact'>Contact us to Learn More</div>
            </div>
        </div>
        
    </div>
    
</div>

<div class='container-fluid white'>
    
    <h3 class='text-center block-header package-header'>The Benefits of Web Design</h3>
    
    <div class='row'>
        <div class='col-md-12 col-sm-12 col-xs-12'>
            <div class='benefits'>
                <p>
                    Web design is essential for digital marketing because it is 
                    valuable advertising. At Obyco we design every web page to 
                    effectively display the value you intend to advertise to target 
                    customers.
                </p>
                <p>
                    This is the most cost effective way to create an online presence 
                    that boosts your credibility as a business or business person from 
                    a customer perspective.
                </p>
                <p>
                    Customers will be able to research your services and 
                    products on your website which will translate to lead generation of 
                    quality prospects.
                </p>
                <p>
                    Web Design is the cheapest type of website over time because 
                    there are no cloud storage charges.
                </p>
                <p>
                    With Obyco you get a partner you can trust to design your web pages 
                    with modern tools and best practices which aligns with your values. 
                    A product that you and your business will be proud to own.
                </p>
            </div>
        </div>
    </div>
    
</div>

<!--the form section starts here-->

<div class='container-fluid'>
    <div class='row'>
        <div class='col-md-12 col-sm-12 form-section'>
            <div class='packageForm'>
                <form action='/homePageLead' method='POST'>
                    <h3>Let's talk about your Web Design Solutions</h3>
                    <input type='checkbox' value="web design" name='interestOne'> <label>I'm interested in Web Design Solutions</label><br>
                    <input type='checkbox' value="web design questions" name='interestTwo'> <label>I still have some questions, Let's talk</label><br>
                    <input type='checkbox' value="Optimize owned website" name='interestThree'> <label>I have a website, It needs some work</label><br>
                    <br>
                    <div class='row'>
                      <div class='col-md-6 col-sm-6 col-xs-12'>
                      <input class='nameInput' placeholder='First Name*' type='text' id='first' name='lead[firstName]' required>
                      </div>
                      <div class='col-md-6 col-sm-6 col-xs-12'>
                      <input class='nameInput' placeholder='Last Name*' type='text' id='last' name='lead[lastName]' required>
                      </div>
                    </div>
                    <br>
                    <label class='serviceLeadEmailInputLabel'>Enter a Response Email*:</label><br>
                    <input class='serviceLeadEmailInput' type='email' placeholder='interested@service.com' name='email' required><br>
                    <label>Leave a Comment</label><br>
                    <textarea name="comment" rows='4' class='packageFormTextArea pull-left'></textarea><br>
                    
                    <button type='submit' class='packageFormSubmitBtn'>Get Detailed Information</button>
                </form>
            </div>
            
        </div>
    </div>
</div>   
   

<!--the form section ends here-->

<!--the footer starts here-->
      <div class='container-fluid'>
        <div class='row footer-section'>
          
          <div class='col-md-3 col-sm-3 col-xs-12 footer-list'>
            <ul>
              <a href='/'><li>Home</li></a>
              <a href='/servicepackage/webdesign'><li>Web Design</li></a>
              <a href='/servicepackage/webapp'><li>Web Application</li></a>
              <a href='/servicepackage/emailmarketing'><li>Email Marketing</li></a>
              <a href='/servicepackage/clickmarketing'><li>Click Marketing</li></a>
              <a href='/faq'><li>FAQ's</li></a>
              <a href='/blog'><li>Blog</li></a>
            </ul>
          </div>
          
          <div class='col-md-6 col-sm-6 col-xs-12 footer-list rights-reserved'>
                  <ul>
                    <a href="https://www.facebook.com/OBYCO-Digital-Marketing-1342693189162287/"><li><i class="fa fa-facebook-square" aria-hidden="true"></i>  Join our Facebook Group</li></a>
                    <a href="https://www.linkedin.com/in/uchenna-nwankpa-213b64145"><li><i class="fa fa-linkedin-square" aria-hidden="true"></i>  Connect on LinkedIn</li></a>
                    <a href="https://twitter.com/obyco_digital"><li><i class="fa fa-twitter-square" aria-hidden="true"></i>  Tweet with Us</li></a>
                    <a href='/icons'><li>Flaticon Credits</li></a>
                    <a href="#"><li>Website developed by <em>Uchenna Nwankpa</em></li></a>
                    <a href='/websitepolicy'><li>Website Policy</li></a>
                    <a><li>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2017 OBYCO LLC</li></a>
                  </ul>
          </div>
        </div>
      </div>
      <!--the footer ends here-->
     

































































<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/scripts/script.js"></script>
  </body>
</html>